.wrapper-card {
  background-color: rgb(255, 255, 255);
  max-width: 375px;
  width: 95%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-radius: 1rem;
  overflow: hidden;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.card-img img {
  aspect-ratio: 16/9;
  object-fit: cover;
  height: auto;
}

.card-body {
  padding: 0 1.5rem;
}

.card-avatar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.avatar-img {
  width: 60px;
  height: auto;
  border-radius: 50%;
}

.avatar-info {
  margin-left: 1.5rem;
  margin-right: auto;
  letter-spacing: 0.04em;
}

.avatar-info > * + * {
  margin-top: 0.5rem;
}

.share-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--LightGrayishBlue);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.lay {
  background-color: var(--DesaturatedDarkBlue);
}

.lay img {
  filter: brightness(500%);
}

/* =================================
    Typography 
   ===============================*/
.card-title,
.avatar-name {
  color: var(--VeryDarkGrayishBlue);
  font-weight: 700;
}

.card-title {
  letter-spacing: 0.02em;
  font-size: 1.25rem;
  line-height: 1.4;
}

.card-text {
  letter-spacing: 0.05em;
  font-size: 1.01rem;
  line-height: 1.4;
}

div[role="button"] {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  z-index: 4;
}

/* layout */
.anime {
  /* opacity: 0.5; */
  animation: wave 1s ease-in-out;
}

@keyframes wave {
  0% {
    left: 100%;
  }
  80% {
    left: 40%;
  }
  100% {
    left: 0%;
  }
}

@media (min-width: 1024px) {
  .anime {
    /* opacity: 0.5; */
    animation: wave 0.5s ease-in-out;
  }
  @keyframes wave {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

.loadinganime-desktop {
  display: none;
}

@media (min-width: 1024px) {
  .wrapper-card {
    max-width: 900px;
    width: 80%;

    flex-direction: row;
    align-items: stretch;
    overflow: visible;
  }

  .card-img {
    width: 40%;
    display: flex;
    align-items: stretch;
    border-radius: 1rem 0 0 1rem;
    overflow: hidden;
  }

  .card-img img {
    aspect-ratio: unset;
    object-fit: cover;
    object-position: 0 0;
  }

  .card-body {
    width: 60%;
  }

  .card-title {
    font-size: 1.5rem;
    letter-spacing: 0.05em;
  }

  .card-text {
    line-height: 1.6;
  }

  .loadinganime-desktop {
    display: block;
  }
}
