:root {
  /*  ===============================
      Colors
      ===============================   */

  --VeryDarkGrayishBlue: hsl(217, 19%, 35%);
  --DesaturatedDarkBlue: hsl(214, 17%, 51%);
  --GrayishBlue: hsl(212, 23%, 69%);
  --LightGrayishBlue: hsl(210, 46%, 95%);

  /* ===============================
     Fonts
     ===============================  */

  --ff-primary: "Manrope", sans-serif;
  --fs-fontsize: 1rem;
  --fw-500: 500;
  --fw-700: 700;
}

/* ==============================
   Body
   ==============================  */

body {
  font-family: var(--ff-primary);
  font-size: var(--fs-fontsize);
  font-weight: var(--fw-500);
  background-color: var(--LightGrayishBlue);
  color: var(--DesaturatedDarkBlue);
}

/* ==============================
Layout
============================== */

main {
  display: flex !important;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* ================================
   V spacing
   ================================ */

.wrapper-card {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.card-title {
  margin-bottom: 1.125rem;
}

.card-text {
  margin-bottom: 2.75rem;
}

.card-avatar {
  margin-bottom: 1.75rem;
}

@media (min-width: 1024px) {
  .card-body {
    margin-top: 1rem;
  }
}
